.iconButton {
  border: 0;
  background-color: #fff;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  font-size: 1.25rem;
  transition: 0.25s ease;
  box-shadow:
    0 0 0 1px rgba(#000, 0.05),
    0 3px 8px 0 rgba(#000, 0.15);
  z-index: 1;
  cursor: pointer;
  color: #565656;

  svg {
    width: 1em;
    height: 1em;
  }
  @media screen and (min-width: 650px) {
    &:hover {
      background-color: #ec4646;
      color: #fff;
    }
  }
}
.active {
  svg {
    color: #ec4646;
    path {
      fill: #ec4646;
    }
  }
}
