.AllUsersPage {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.AllUsers {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
