.navbar {
  width: 100%;
  padding: 15px;
  position: fixed;
  background-color: var(--color1);
  z-index: 50;
  transition: 700ms;
}
.container {
  max-width: var(--container-max-width);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media screen and (max-width: 650px) {
    // flex-direction: column;
    // flex-flow: column;
    justify-content: space-around;
    gap: 10px;
    flex-wrap: wrap;
  }
}
.toggleBtn {
  overflow: hidden;
}
.links {
  display: flex;
  justify-content: center;
  gap: 30px;
  width: 40%;
  @media screen and (max-width: 650px) {
    width: 100%;
    order: 3;
  }
}
.link {
  font-size: var(--font-size-l);
  color: var(--color3);
}
.activeLink {
  font-size: var(--font-size-l);
  color: var(--color4);
}

.settings {
  display: flex;
  align-items: center;
  gap: 30px;
  width: 30%;
  @media screen and (max-width: 650px) {
    width: auto;
    order: 1;
  }
}
.auth {
  width: 30%;
  display: flex;
  justify-content: right;
  align-items: center;
  @media screen and (max-width: 650px) {
    width: auto;
    order: 2;
  }
}
